<div class="flex flex-col flex-auto justify-center items-center" >
    <div class="lg:w-3/4 bg-indigo-800 h-full p-4 my-10">
        <div class="w-full">

            <app-poslovna-banka-form-dialog
            [opened]="poslovnaBankaFormDialogOpened"
            [options]="poslovnaBankaFormDialogOptions">
            </app-poslovna-banka-form-dialog>

            <button 
            (click)="dodajPoslovnuBanku()"
            class="btn btn-green inline-flex items-center mt-5">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg> Dodaj
            </button>

            <table
                class="
                w-full
                mt-5
                table-fixed
                text-center
                border-separate
                table-row-spacing-y-4
                font-semibold">
                <thead>
                    <tr class="bg-red-300 text-indigo-800 shadow-md">
                        <th class="hover:bg-red-400 active:bg-orange-400 cursor-pointer">Naziv</th>
                        <th class="hover:bg-red-400 active:bg-orange-400 cursor-pointer">SWIFT kod</th>
                        <th class="hover:bg-red-400 active:bg-orange-400 cursor-pointer">Obracunski racun</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let banka of poslovneBanke" 
                        class="hover:bg-indigo-600 text-white shadow-md">
                        <td>{{ banka.nazivBanke }}</td>
                        <td>{{ banka.swiftKod }}</td>
                        <td>{{ banka.obracunskiRacun.brojObracunskogRacuna }}</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>
